.wrapper {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
}

.img {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.ratingWrapper {
  display: flex;
  gap: 18px;
}

.rating {
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.location {
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.description {
  max-width: 525px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(71, 84, 103);
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.categoriesList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.categoryItem {
  padding: 12px 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 100px;
  background: rgb(242, 244, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn {
  width: 166px;
  border: none;
  cursor: pointer;
  padding: 16px 40px;
  border-radius: 200px;
  background: rgb(228, 72, 72);
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.5%;
  transition: all 0.3s;
}

.btn:hover {
  background: rgb(216, 67, 67);
}

.icon {
  width: 20px;
  height: 20px;
}

.iconSmall {
  width: 16px;
  height: 16px;
}

.iconHeart {
  width: 21px;
  height: 18px;
}

.favorite {
  width: 21px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: color 0.3s ease;
}

.iconHeart {
  width: 21px;
  height: 18px;
  transition: all 0.3s ease;
}

.iconHeart:hover {
  filter: drop-shadow(4px 4px 4px #0000004b);
}
