:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(16, 24, 40);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  padding: 0;
  outline: none;
}

input,
textarea,
select {
  background-color: inherit;
  color: inherit;
  outline: none;
  margin: 0;
}

textarea {
  resize: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.flatpickr-calendar {
  min-width: 340px;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 12px;
  background: rgb(255, 255, 255);
}

.flatpickr-current-month {
  padding: 0;
  height: auto;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  pointer-events: none;
  appearance: none;
  padding: 0;
}

.flatpickr-month {
  position: relative;
  color: rgb(16, 24, 40);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.flatpickr-next-month {
  position: relative;
  width: 16px;
  height: 9px;
}

.flatpickr-day {
  color: rgb(16, 24, 40);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 32px;
}

.flatpickr-weekdays {
  color: rgb(71, 84, 103);
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
